@media screen and (min-width: 640px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .card:nth-child(1) {
    grid-column: span 2;
  }

  #hamburger {
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
  }

  .discover-layout {
    grid-template-columns: 1fr 2fr;
  }

  .image-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}
