header {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

header img {
  border: 2px solid #ddd;
  margin-right: 1rem;
}

header span {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

#darkModeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.dark-mode {
  background-color: #222;
  color: white;
}

#darkModeButton:hover {
  background-color: #444;
}

nav {
  background-color: rgb(70, 71, 72);
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#myButton {
  font-size: 2rem;
  background-color: rgb(70, 71, 72);
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: 0 2vw;
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* gap: 1rem; */
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
}

nav a:hover {
  background-color: white;
  color: black;
}

.active {
  color: yellow;
  font-weight: bold;
}

main {
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  /* grid-template-columns: 1fr; */
  gap: 2%;
  width: 100vw;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.hero picture {
  display: block;
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  /* object-fit: cover; */
}

.hero span {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 65%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-style: oblique;
  border-radius: 4px;
}

main h1 {
  font-size: 2.5rem;
  margin: 0 0;
  display: grid;
  grid-column: 1/4;
  margin-left: 2rem;
}

.course,
.weather {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 1rem;
}

.weather ul {
  justify-content: center;
  margin: 0 20%;
}

h2 {
  background-color: darkcyan;
  text-align: center;
  padding: 0 2%;
  margin-top: 0;
  color: white;
  padding: 1%;
}

section ul {
  list-style-type: none;
  padding-left: 1rem;
}

section ul li {
  margin-bottom: 0.5rem;
}

section ul li a {
  text-decoration: none;
  color: black;
}

#activity-links {
  font-size: 1rem;
  padding: 10px;
}

#activity-links a {
  text-decoration: none;
  color: #215ea0;
  font-weight: bold;
}

#activity-links a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1.5rem 0;
  background-color: darkcyan;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0.5rem 0;
  color: black;
}

footer span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  /* .box {
    width: 80%;
  } */
  nav ul {
    flex-direction: column;
    text-align: left;
  }
  nav ul li {
    margin: 10px 0;
  }

  .menuLinks {
    display: none; /* Hide menu initially */
  }

  .menuLinks a {
    display: block;
  }

  #myButton {
    display: block; /* Show hamburger in mobile view */
    cursor: pointer;
  }

  .menuLinks.open {
    display: flex; /* Show menu when open */
  }

  .right-buttons {
    display: flex;
  }
}
